<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 配置连接管理器 -->
	<bean id="httpClientConnectionManager"
		class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
		<property name="maxTotal" value="${httpClient.maxTotal}"></property>
		<property name="defaultMaxPerRoute" value="${httpClient.defaultMaxPerRoute}"></property>
	</bean>

	<!-- 创建httpBuilder构建器 -->
	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder">
		<property name="connectionManager" ref="httpClientConnectionManager"></property>
	</bean>

	<!-- 该对象是多例的 -->
	<bean class="org.apache.http.impl.client.CloseableHttpClient"
		factory-bean="httpClientBuilder" factory-method="build" scope="prototype">
	</bean>

	<!-- 配置 requestConfigBuilder对象-->
	<bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
		<!-- 设置创建链接的最长时间 -->
		<property name="connectTimeout" value="${httpClient.connectTimeout}"></property>
		<!-- 设置从连接池中获取连接的最长时间 -->
		<property name="connectionRequestTimeout" value="${httpClient.connectionRequestTimeout}"></property>
		<!-- 数据传输的最长时间 -->
		<property name="socketTimeout" value="${httpClient.socketTimeout}"></property>
		<!-- 提交请求前测试链接是否可用 -->
		<property name="staleConnectionCheckEnabled" value="${httpClient.staleConnectionCheckEnabled}"></property>
	</bean>

	<!-- 配置请求配置信息对象 -->
	<bean class="org.apache.http.client.config.RequestConfig"
		factory-bean="requestConfigBuilder" factory-method="build">
	</bean>
	
	<!-- 配置结果空闲连接的对象 -->
	<bean class="com.taotao.common.httpclient.IdleConnectionEvictor">
		<constructor-arg index="0" ref="httpClientConnectionManager"/>
	</bean>
</beans>